[submodule "MaaAgentBinary"]
	path = MaaAgentBinary
	url = https://github.com/MaaAssistantArknights/MaaAgentBinary
	branch = main
[submodule "pkgs/loader"]
	path = pkgs/loader
	url = https://github.com/neko-para/MaaJSLoader
	branch = main
